/* Give your page a fun background color */
body {
    background-color:papayawhip;
}
/* Make the header and footer a different color from the background */
header, footer {
    background-color: #ffe6e6;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */

/* Put a border around your image */
img {
    border: solid #006400 5px;
}

/* Change the font-family of your list */


ul li {
    list-style-type: none;
}